<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yxw.web.mapper.ProvinceMapper">
    <resultMap id="provinceResultMap" type="com.yxw.web.entity.Province">
        <id column="province_id" property="provinceId" jdbcType="INTEGER"/>
        <result column="province_name" property="provinceName" jdbcType="VARCHAR"/>
        <result column="comment" property="comment" jdbcType="VARCHAR"/>
        <result column="province_num" property="provinceNum" jdbcType="INTEGER"/>
        <result column="country_num" property="countryNum" jdbcType="INTEGER"/>
        <result column="province_short" property="provinceShort" jdbcType="VARCHAR"/>

    </resultMap>

    <sql id="Province_Column_List">
       province_id as provinceId,
       province_name as provinceName,
       comment as comment,
       province_num as provinceNum,
       country_num as countryNum,
       province_short as provinceShort
    </sql>
    <insert id="insert" parameterType="com.yxw.web.entity.Province">
        insert into yxw_province
        <trim prefix="(" suffix=")" suffixOverrides=",">
            province_id,
            province_name,
            province_num,
            province_short,
            country_id
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            null,
            #{provinceName},
            #{provinceNum},
            #{provinceShort},
            1
        </trim>
    </insert>

    <select id="selectAllProvince" resultType="com.yxw.web.entity.Province">
        select
        <include refid="Province_Column_List"/>
        from yxw_province

    </select>

</mapper>
