<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Excel导db</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" type="text/css"/>

    <script src="/js/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/upExcel.js" type="text/javascript"></script>
</head>
<body>
<div>
    <form enctype="multipart/form-data" id="batchUpload" action="user/upload" method="post"
          class="form-horizontal">
        <button
                class="btnbtn-successbtn-xs" id="uploadEventBtn" style="height:26px;" type="button" >选择文件
        </button>
        <input type="file" name="file" style="width:0px ;height:0px;" id="uploadEventFile">
        <input id="uploadEventPath" disabled="disabled" type="text" placeholder="请选择excel表"
                   style="border:1px solid #e6e6e6;height:26px;width:200px;" >
    </form>

    <button
            type="button" class="btnbtn-successbtn-sm" onclick="user.uploadBtn()" >上传
    </button>

</div>
</body>
</html>